django==1.11.28
rdflib==3.2.1
rdfextras==0.3
isodate==0.4.8
git+git://github.com/tatiana/SPARQL-Wrapper.git#egg=SPARQL-Wrapper

# this could go in a separate requirements later on
nose==1.2.1
django_nose==1.1
mocker==1.1.1
pep8==1.3.3